.btn{
    margin: 5px;
    padding: 5px;
}

.pagination{
    margin: 15px;
    padding: 15px;
}

.li{
    text-decoration: none;
    margin: 10px;
    font-size: 22px;
}

.title{
    font-size:70px;
    margin-top:30px;
    margin-bottom:30px;
}