*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.859);
    color: beige;
    text-decoration: none;
}
.new-list{
   border: 1px solid rgba(204, 204, 204, 0.05);
   padding:20px;
   border-radius: 10px;
   margin: 10px;
   max-width: 550px;
}

.news{
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    padding: 50px 20px;
}

img{
    width:500px;
}

.nested{
    color: green;
    font-size:40px;
    margin: 20px 0;

}